@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Add Your Custom CSS Here */

html body {
  background-color: black;
  height: 100vh;
  width: 100vw;
  color: white;
}

h1 {
  font-family: "Vast Shadow", serif;
  font-weight: 600;
  font-style: normal;
}

h2,
h3,
h4,
h5 {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

span,
a,
p,
li {
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  font-style: normal;
}



#menu-toggle:checked+#menu {
  display: block;
}

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #4F46E5 !important;
}

.swiper-slide.swiper-slide-active>.slide\:w-full {
  width: 100%;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "" !important;
}

.swiper-wrapper {
  height: max-content !important;

}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "" !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
}

.swiper-slide.swiper-slide-active>.slide\:w-full {
  width: 100%;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "" !important;
}

.swiper-wrapper {
  height: max-content !important;

}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "" !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
}