<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="Kimhab Ork - Fashion Portfolio">
  <meta name="description"
    content="Dive into the captivating world of Kimhab Ork's portfolio. Experience the perfect blend of style, innovation, and creativity. Get ready to be inspired by their stunning collection.">
  <meta name="keywords" content="fashion portfolio, fashion, portfolio, lecturer">
  <meta name="robots" content="noindex, nofollow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="Kimhab Ork">
  <meta name="subject" content="Fashion">
  <meta name="copyright" content="Kimhab Ork">
  <meta name="language" content="EN">
  <meta name="google-site-verification" content="yeuFnQXHqjX1bdE_zygqNNwrp5IwlUEMYBDjAJSrc9M" />

  <meta name="og:title" content="Kimhab Ork-Fashion Portfolio">
  <meta name="og:type" content="fashion">
  <meta name="og:url" content="https://kimhabork.site/">
  <meta name="og:image" content="https://ik.imagekit.io/digiv3rse/portfolio-og.png?updatedAt=1719184813426">
  <meta name="og:site_name" content="Kimhab Ork-Fashion Portfolio">
  <meta name="og:description"
    content="Dive into the captivating world of Kimhab Ork's portfolio. Experience the perfect blend of style, innovation, and creativity. Get ready to be inspired by their stunning collection.">

  <link rel="canonical" href="http://kimhabork.site/">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/icon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icon/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <title>Fashion Portfolio Website</title>

  <!-- Library script -->
  <script src="/assets/js/flowbite.js"></script>
  <script src="/assets/js/prelin.js"></script>
  <script src="/assets/js/tailwindcss.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.8.1/cdn.min.js" defer></script>
  <script src="/assets/js/swiper-bundle.min.js"></script>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/daisyui.min.css">
  <link rel="stylesheet" href="/assets/css/flowbite.min.css">
  <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="/assets/css/animate.css" />
  <link rel="stylesheet" href="/assets/css/tailwinf.css" />
</head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DNJN1PF3CS"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-5LC62DKSJ9');
</script>
<style>
  #menu-toggle:checked+#menu {
    display: block;
  }
</style>
<script src="/assets/js/swiper.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script>
  new WOW().init();
</script>

<body>
  <include src="navbar.html" title="Header Navigator Bar"></include>
  {slot}
  <include src="footer.html" title="Footer Navigator"></include>
  <script src="/assets/js/main.js"></script>
</body>

</html>